@font-face {
    font-family: "Titillium Web Light";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf);
}

@font-face {
    font-family: "bebas_neue";
    src: url(../assets/fonts/bebas_neue/BebasNeue-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

content .landing_page {
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/banner-1.jpg) no-repeat center center fixed;
    background-size: cover;
}


content .landing_page h1 {
    font-family: "bebas_neue";
    font-size: 90px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 70px;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
}

.Présentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.Présentation h1 {
    font-size: 55px;
    font-family: "Titillium Web Light";
    font-weight: 400;
    color: #000;
}

.Présentation h1.title {
    margin-bottom: 30px;
}

.pres-deb{
    display: flex;
    justify-content: center;
}


.Debbie {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}
.Debbie h1 {
    font-size: 30px;
    color: #000;
}

.Debbie h2 {
    font-size: 24px;
    font-family: "Titillium Web Light";
    font-weight: 400;
    color: #000;
}

.Coordonnées{
    font-size: 13px;
    color: #666666;
}

.Description{
    color:#4DB1CB;
    font-size: 13px;
    width: 500px;
}


h1.Company{
    font-size: 55px;
    margin-bottom: 10px;
    font-family: "Titillium Web Light";
    font-weight: 400;
    color: #000;
}


.Descriptif p{
    font-size: 14px;
    width: 550px;
}

.Company {
    width: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.Liste3 {
    font-size: 14px;
    margin-left: 50px;
}

ul{
    padding-left: 0;
    margin:0;
}

li{
    margin-left: 15px;
}


hr {
    background-color:#f0565b;
    height: 1px;
    border: 50px;
}

.gen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}



.TexteListe{
    margin:20px;
}