* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web","Lucida Grande","Lucida Sans",Verdana,sans-serif
}

@font-face {
    font-family: "bebas_neue";
    src: url(../assets/fonts/bebas_neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Titillium Web Light";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf);
}

content {
    width: 100%;   
}

content .landing_page {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/banner-1.jpg) no-repeat center center fixed;
    background-size: cover;
}

content .landing_page .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

content .landing_page img {
    width: 400px;
    height: 100px;
}

h1 {
    font-family: "bebas_neue";
    font-size: 88px;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    font-weight: lighter;
}

h2 {
    font-family: "Titillium Web Light";
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 5px;
}

content .landing_page .btn button {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 5px 20px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

content .landing_page .btn button:hover {
    background: #fff;
    color: #000;
}

content .content_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

content .content_links .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

content .content_links .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

content .content_links .left p {
    font-family: "Titillium Web Light";
    font-size: 24px;
    font-weight: 200;
    color: #666;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    margin-right: 20px;
}

content .content_links .right p {
    font-family: "Titillium Web Light";
    font-size: 24px;
    font-weight: 200;
    color: #666;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    margin-left: 20px;
}

content .content_links .left p span {
    font-weight: bold;
}

content .content_links .right p span {
    font-weight: bold;
}

content .content_links .left img {
    margin-right: 25px;
    cursor: pointer;
}

content .content_links .right img {
    margin-left: 25px;
    cursor: pointer;
}

