@font-face {
    font-family: "Titillium Web ExtraLight";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf);
}

@font-face{
    font-family: "Titillium web Light";
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Liste1 {

    width: 450px;
    height: 250px;
}

.Liste2{

    width: 450px;
    height: 250px;
}

.BD {
    display: flex;
    flex-direction: row;
}

.Fiole{
    margin:10px;
}

.Diamant{
    margin:10px

}

.CD {
    display: flex;
    flex-direction:row;
}

hr {
    background-color:#4db1cb;
    height: 1px;
    border: 50px;
    margin: 20px;
}

h1{
    font-family:"Titillium Web ExtraLight";
    font-size: 35px;
    font-weight: normal;

}

h1.CD{
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Titillium Web ExtraLight";
    font-weight: 400;
    color: #000;

}

h1.BD{
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Titillium Web ExtraLight";
    font-weight: 400;
    color: #000;

}
div.CD{
    width: 500px;
}

div.BD{
    width: 500px;
}

ul{
    font-family: "Titillium Web Light";
    margin: 10px;
    margin-left: 50px;
}

